<div id="db-global-nav" class="global-nav">
  <div class="bd">
    





<div class="top-nav-info">
      
      <a href="https://www.douban.com/accounts/login?source=book" class="nav-login" rel="nofollow">登录</a>
      <a href="https://www.douban.com/accounts/register?source=book" class="nav-register" rel="nofollow">注册</a>
</div>


    <div class="top-nav-doubanapp">
        
        <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
        <div id="top-nav-appintro" class="more-items">
            <p class="appintro-title">豆瓣</p>
            <p class="slogan">和有趣的人做有趣的事</p>
            <p class="qrcode">
                扫码直接下载
            </p>
            <div class="download">
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=iOS">iPhone</a>
                <span>·</span>
                <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&amp;direct_dl=1&amp;download=Android" class="download-android">Android</a>
            </div>
        </div>
        <div id="doubanapp-tip" style="display: none;">
            <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 3.0 全新发布</a>
            <a href="javascript: void 0;" class="tip-close">×</a>
        </div>
    </div>

    <div class="global-nav-items">
      <ul>
          
            
            <li class="">
            <a href="https://www.douban.com/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">豆瓣</a>
            </li>
          
            
            <li class="on">
            <a href="https://book.douban.com/" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">读书</a>
            </li>
          
            
            <li class="">
            <a href="https://movie.douban.com/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">电影</a>
            </li>
          
            
            <li class="">
            <a href="https://music.douban.com/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">音乐</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/location/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">同城</a>
            </li>
          
            
            <li class="">
            <a href="https://www.douban.com/group/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">小组</a>
            </li>
          
            
            <li class="">
            <a href="https://read.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">阅读</a>
            </li>
          
            
            <li class="">
            <a href="http://douban.fm/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">FM</a>
            </li>
          
            
            <li class="">
            <a href="https://dongxi.douban.com/?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-commodity&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">东西</a>
            </li>
          
            
            <li class="">
            <a href="https://market.douban.com/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}
            ">市集</a>
            </li>
          
            <li>
              <a href="#more" class="bn-more"><span>更多</span></a>
              <div class="more-items">
                <table cellpadding="0" cellspacing="0">
                    
                    <tbody><tr><td><a href="https://moment.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-moment&quot;,&quot;uid&quot;:&quot;0&quot;}
                    ">一刻</a></td></tr>
                    
                    <tr><td><a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;0&quot;}
                    ">一拍一</a></td></tr>
                </tbody></table>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>
<style type="text/css">
   
.global-nav .bn-more span{display:inline-block;*display:inline;zoom:1;vertical-align:baseline}
.global-nav .arrow{position:relative;top:-2px;left:2px;border-width:3px 3px 0;border-color:#d5d5d5 transparent transparent transparent;border-style:solid dashed dashed dashed;width:0;height:0;font-size:0;line-height:0}
.global-nav a:hover .arrow{*top:0;border-color:#fff transparent transparent transparent}
.global-nav .more-active{position:relative;z-index:10}
.global-nav .more-active a:link,.global-nav .more-active a:visited{color:#369}
.global-nav .more-active .arrow{border-color:#fff transparent transparent transparent}
.global-nav .more-active .bn-more span{color:#fff}
.global-nav .more-active .more-items{display:block;padding:10px 0;_width:0;border:1px solid #e6e6e6;background:#fff;white-space:nowrap;top:28px}
.global-nav .more-active .more-items table,.global-nav .more-active .more-items td{width:100%;white-space:nowrap;border-collapse:collapse}
.global-nav .more-active .more-items li{display:block}
.global-nav .more-active .more-items a{display:block;padding:0 20px;line-height:28px}
.global-nav .more-active .more-items a:link,.global-nav .more-active .more-items a:visited{color:#3d3d3d}
.global-nav .more-active .more-items a:hover{color:#3d3d3d;background-color:#f6f6f6}
.global-nav .more-items{display:none;position:absolute;left:0}
.global-nav{height:28px;color:#d5d5d5;background-color:#545652;min-width:950px}
.global-nav a:link,.global-nav a:visited,.global-nav a:hover,.global-nav a:active{color:#d5d5d5}
.global-nav a:hover,.global-nav a:active{color:#fff;background-color:transparent}
.global-nav .global-nav-items{font-size:0}
.global-nav .global-nav-items li{display:inline-block;*display:inline;zoom:1;line-height:28px;font-size:12px;vertical-align:baseline}
.global-nav .global-nav-items a{display:inline-block;*display:inline;zoom:1;padding:0 12px;height:28px}
.global-nav li.market-tip{background-position:41px 7px;background-repeat:no-repeat;background-size:17px 8px;background-image:url(/f/shire/f43c29d20fa76ba47fa1f89a35b7937e76c1377c/pics/nav/new-market-tip.png);padding-right:20px}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi){.global-nav li.market-tip{background-image:url(/f/shire/874db20df92db9a772b08d2d4babc957cb30c9a7/pics/nav/new-market-tip@2x.png)}
}
.global-nav .top-nav-info{float:right;margin:0 12px 0 0;line-height:28px}
.global-nav .top-nav-info ul,.global-nav .top-nav-info li{display:inline-block;*display:inline;zoom:1}
.global-nav .top-nav-info a{display:inline-block;*display:inline;zoom:1;margin:0;padding:0 12px;height:28px}
.global-nav .nav-user-account .more-items{left:auto;right:6px}
.global-nav .more-active .lnk-remind:link,.global-nav .more-active .lnk-remind:visited,.global-nav .more-active .lnk-remind:hover,.global-nav .more-active .lnk-remind:active{color:#fff}
.global-nav-a .bd{max-width:1600px;margin:0 auto}
.global-nav-b .bd{max-width:1440px;margin:0 auto}
.global-nav .top-nav-reminder{position:relative;float:right;margin-right:5px;line-height:28px}
.global-nav .top-nav-reminder a{position:relative}
.global-nav .top-nav-reminder .lnk-remind{display:inline-block;*display:inline;zoom:1;padding:0 12px;height:28px}
.global-nav .top-nav-reminder .num{position:absolute;top:4px;*top:0;left:3em;padding:0 3px;margin-left:5px;color:#fff;line-height:1.5;background-color:#f7996d;*margin-top:4px}
.global-nav .top-nav-reminder .num i{position:absolute;width:0;height:0;left:-9px;top:50%;margin-top:-6px;line-height:0;border-color:transparent #f7996d transparent transparent;border-style:dashed solid dashed dashed;border-width:6px 6px 3px 5px;pointer-events:none}
.global-nav .top-nav-reminder .more-items{position:absolute;z-index:999;padding:0;width:280px;left:-125px;top:28px;border:1px solid #e6e6e6;background:#fff;white-space:normal;word-wrap:break-word}
.global-nav .top-nav-reminder .more-items a{display:inline;padding:0;line-height:inherit}
.global-nav .top-nav-reminder .more-items a:link{color:#369}
.global-nav .top-nav-reminder .more-items a:visited{color:#669}
.global-nav .top-nav-reminder .more-items a:hover{color:#fff;background-color:#039}
.global-nav .top-nav-reminder .more-items a:active{color:#fff;background-color:#f93}
.global-nav .top-nav-reminder .more-items .bd{padding-top:16px;color:#3e3e3e;line-height:1.5}
.global-nav .top-nav-reminder .more-items .bd p{padding:0 15px 13px 15px;border-bottom:1px solid #f0f0f0}
.global-nav .top-nav-reminder .more-items .ft a{display:block;width:100%;padding:4px 0;text-align:center;background-color:#fafafa}
.global-nav .top-nav-reminder .more-items .ft a:hover,.global-nav .top-nav-reminder .more-items .ft a:active{background-color:#f5f5f5;color:#369}
.global-nav .top-nav-reminder .more-items p{margin:0;color:#999}
.global-nav .top-nav-reminder .more-items li{overflow:hidden;zoom:1;padding:13px 15px;border-bottom:1px solid #f0f0f0}
.global-nav .top-nav-reminder .more-items li .pic{float:left;margin-right:8px}
.global-nav .top-nav-reminder .more-items li .content{width:auto;overflow:hidden;zoom:1}
.global-nav .top-nav-reminder .more-items li .content a{line-height:1.4}
.global-nav .top-nav-reminder .more-items li .item-req{padding:0;border:none}
.global-nav .top-nav-reminder .more-items li .item-req .ops{width:49px;float:right;*display:inline;position:static;overflow:hidden;color:#aaa}
.global-nav .top-nav-reminder .more-items li .item-req .ops a:link,.global-nav .top-nav-reminder .more-items li .item-req .ops a:visited,.global-nav .top-nav-reminder .more-items li .item-req .ops a:hover,.global-nav .top-nav-reminder .more-items li .item-req .ops a:active{color:#aaa}
.global-nav .top-nav-reminder .more-items li .item-req .ops a:hover,.global-nav .top-nav-reminder .more-items li .item-req .ops a:active{background-color:#aaa;color:#fff}
.global-nav .top-nav-reminder .more-items li .unread{background-color:transparent}
.global-nav .top-nav-reminder .more-items li .new-reply-item{overflow:hidden}
.global-nav .top-nav-reminder .more-items li .new-reply-item .content{float:left;width:186px}
.top-nav-reminder.more-active{color:#fff}
.top-nav-reminder.more-active .num{z-index:1000}
.top-nav-reminder.more-active .more-items{display:block;z-index:999}
body #db-pay-tips{top:136px}
.perf-metric{position:absolute;margin-left:-240px}
.global-nav .top-nav-doubanapp{position:relative;float:right;margin-right:5px;line-height:28px}
.global-nav .top-nav-doubanapp .lnk-doubanapp{display:inline-block;*display:inline;zoom:1;padding:0 8px;height:28px}
.global-nav .top-nav-doubanapp .more-items{padding:10px 20px 30px;left:-76px;width:211px;border-top:none;color:#111;font-size:15px;line-height:1.62;font-weight:bold;text-align:center;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizelegibility}
.global-nav .top-nav-doubanapp .more-items .appintro-title{padding-top:170px;margin-top:0;margin-bottom:0;font-size:24px;font-weight:400;background:url(/f/shire/12356a377c5190a72a849e5b5c9034dd538b439e/pics/nav/nav_doubanapp_6.png) no-repeat center}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi){.global-nav .top-nav-doubanapp .more-items .appintro-title{background-image:url(/f/shire/323b8653e3e313a992d287201347d32c0642914b/pics/nav/nav_doubanapp_6@2x.png);background-size:100px}
}
.global-nav .top-nav-doubanapp .more-items .appintro-title span{margin-left:10px;font-weight:100}
.global-nav .top-nav-doubanapp .more-items .slogan{margin:0;font-size:13px;letter-spacing:3px;font-weight:400}
.global-nav .top-nav-doubanapp .more-items .qrcode{padding-top:160px;margin-top:30px;font-size:0;background:url(/f/shire/6aa9dcfa49ca33353c8265cdd43ccdfeb1554285/pics/nav/nav_doubanapp_6_qrcode.png) no-repeat center}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi){.global-nav .top-nav-doubanapp .more-items .qrcode{background-image:url(/f/shire/af392ad86cb48ed904ba64d8220b1a6fb1b4f97b/pics/nav/nav_doubanapp_6_qrcode@2x.png);background-size:160px 160px}
}
.global-nav .top-nav-doubanapp .download{margin-top:10px}
.global-nav .top-nav-doubanapp .download a{display:inline;font-weight:normal;font-size:12px;background:none;padding:0}
.global-nav .top-nav-doubanapp .download a:link,.global-nav .top-nav-doubanapp .download a:visited{color:#37a}
.global-nav .top-nav-doubanapp .download a:hover{background:none}
.global-nav .top-nav-doubanapp .download .download-android{margin-top:8px;background-position:0 -130px}
.global-nav .top-nav-doubanapp .download .download-android:before{content:""}
#doubanapp-tip{display:none;position:absolute;width:192px;top:28px;border:1px solid;padding:0 10px;color:#13bc39;background:#fff;z-index:10}
#doubanapp-tip:after{display:none\9;content:"";position:absolute;top:-5px;left:35px;height:7px;width:7px;border:1px solid #13bc39;border-width:1px 1px 0 0;background:#fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}
#doubanapp-tip .tip-link:link,#doubanapp-tip .tip-link:visited,#doubanapp-tip .tip-link:hover,#doubanapp-tip .tip-link:active{color:#13bc39;background:#fff}
#doubanapp-tip .tip-close{position:absolute;right:6px;width:15px;height:15px;line-height:25px;text-align:center}
#doubanapp-tip .tip-close:hover{color:#999}
.top-nav-doubanapp.more-active .lnk-doubanapp:link,.top-nav-doubanapp.more-active .lnk-doubanapp:visited,.top-nav-doubanapp.more-active .lnk-doubanapp:hover,.top-nav-doubanapp.more-active .lnk-doubanapp:active{color:#fff}



  .nav{width:100%;min-width:950px;overflow:hidden;zoom:1;margin-bottom:40px}
  .nav .nav-wrap{border-bottom:1px solid #e5ebe4}
  .nav .nav-primary,.nav .nav-secondary{width:950px;margin:0 auto;padding-bottom:0;overflow:hidden;zoom:1}
  .nav .nav-primary{position:relative;padding:10px 0 5px;overflow:hidden;zoom:1}
  .nav .nav-logo{float:left;height:56px;width:145px;margin:0 13px 0 0;background:url(/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) no-repeat 0 12px;background-image:-webkit-image-set(url(/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x, url(/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x);background-image:-moz-image-set(url(/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x, url(/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x);background-image:-ms-image-set(url(/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x, url(/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x);background-image:-o-image-set(url(/f/shire/8308f83ca66946299fc80efb1f10ea21f99ec2a5/pics/nav/lg_main_a11_1.png) 1x, url(/f/shire/8977fa054324c4c7f565447b003ebf75e9b4f9c6/pics/nav/lg_main@2x.png) 2x)}
  .nav .nav-logo a{display:block;width:100%;height:100%;overflow:hidden;line-height:100em}
  .nav .nav-logo a:hover,.nav .nav-logo a:active{background:none !important}
  .ua-iphone .nav{-webkit-text-size-adjust:none}
  .nav-search{position:relative;overflow:hidden;zoom:1;padding:10px 0 15px 0}
  .nav-search input{-webkit-appearance:none;border:none;background:transparent}
  .nav-search label{position:absolute;left:11px;top:10px;line-height:30px;cursor:text;color:#bbb;width:auto}
  .nav-search ::-webkit-input-placeholder{color:#bbb}
  .nav-search :-moz-placeholder{color:#bbb}
  .nav-search ::-moz-placeholder{color:#bbb}
  .nav-search :-ms-input-placeholder{color:#bbb}
  .nav-search .inp{float:left;width:470px;height:34px;text-align:center;_margin-right:-3px;cursor:text;background:url(/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png) no-repeat 0 0}
  .nav-search .inp input{background:#fff;width:96%;margin:0;text-align:left;height:30px;padding-left:10px;height:28px\9;line-height:28px\9;outline:none}
  .nav-search legend{display:none}
  .nav-search fieldset{border:none;padding:0;margin:0;position:static}
  .nav-search .inp-btn{position:relative;left:-1px;*top:-1px;width:37px;height:34px;zoom:1;overflow:hidden}
  .nav-search .inp-btn input{width:100%;height:100%;font-size:0;padding:35px 0 0 0;overflow:hidden;background:url(/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png) no-repeat 0 -40px;color:transparent;cursor:pointer}
  .nav-search .inp-btn input:hover{background-position:-40px -40px}
  .nav-search .inp-btn input:active{background-position:0 -40px}
  .nav-secondary{width:100%;zoom:1}
  .nav-secondary:after{content:'\0020';display:block;clear:both}
  .nav-secondary img{vertical-align:middle;margin-right:4px}
  .nav-secondary ul{margin:9px 0}
  .nav-secondary li{display:inline;margin-right:30px}
  .nav-secondary .nav-items{float:none;*padding-bottom:8px;zoom:1;font-size:13px}
  .nav-secondary .nav-items li{_float:left;_display:inline}
  #db-nav-book .nav-search .inp{background-image:url(/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png)}
  #db-nav-book .nav-search .inp-btn input{background-image:url(/f/shire/d45aaa7569335285e298dd7f3c045c8b364a19de/pics/nav1/nav_bg_a1.png)}
  #db-nav-movie .nav-search .inp{background-image:url(/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
  #db-nav-movie .nav-search .inp-btn input{background-image:url(/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
  #db-nav-group .nav-search .inp{background-image:url(/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
  #db-nav-group .nav-search .inp-btn input{background-image:url(/f/shire/44552ac9f592ad9d2ef5c8ae708533990e94b605/pics/nav1/nav_mv_bg.png)}
  #db-nav-music .nav-search .inp{background-image:url(/f/shire/b78a848a3825bda97797e3c1816ad3b01139aa1c/pics/nav1/nav_mu_bg.png)}
  #db-nav-music .nav-search .inp-btn input{background-image:url(/f/shire/b78a848a3825bda97797e3c1816ad3b01139aa1c/pics/nav1/nav_mu_bg.png)}
  

</style>