
<!DOCTYPE html>
<!-- Server: sfn-web-14 -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]>-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

<script src="http://7xku3c.com1.z0.glb.clouddn.com/custom.js"></script>
<script type="text/javascript" src="http://7xku3c.com1.z0.glb.clouddn.com/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="http://7xku3c.com1.z0.glb.clouddn.com/base_forge.css"
>
<link rel="stylesheet" type="text/css" href="http://7xku3c.com1.z0.glb.clouddn.com/font.css"
>
<link rel="stylesheet" type="text/css" href="http://7xku3c.com1.z0.glb.clouddn.com/forge.css"
>


</head>

<body id="forge">

<header id="site-header">
    <div class="wrapper">
        <a href="/" class="logo">
            <span>GOOJ</span>
        </a>
        
        <form method="get" action="/">
            <input type="text" id="words" name="q" placeholder="Search">
        </form>

        <!--Switch to {language}-->
        <nav id="nav-site">
            <a href="/" title="Browse home.">Home</a>
            <a href="/state" title="Browse state.">State</a>
            <a href="/puzzle/{{.puzzle.Id}}" title="puzzle id.">Edit</a>
            <!-- {{if .curUser}}
                <a href="/user" title="user" class="featured-link">{{.curUser.Name}}</a>
            {{end}} -->
        </nav>


        <nav id="nav-account">
            
              <div class="logged_out">
                {{if .curUser}}
                    <a href="/logout">Logout</a>
                    <a href="/user" title="user" class="featured-link">{{.curUser.Name}}</a>
                {{else}}
                    <a href="/register">Logup</a>
                    <a href="/login">Login</a>
                    <a href="/githubsignin">GitHub-In</a>
                {{end}}
              </div>
            
        </nav>
        
    </div>
</header>

<!-- <header id="site-sec-header">
    <div class="wrapper">
        <nav id="nav-hubs">
            <h4>Solution Centers</h4>
            <a href="http://goparallel.sourceforge.net/">Go Parallel</a>
        </nav>
        <nav id="nav-collateral">
            <a href="http://library.slashdotmedia.com/?source=sfnet_header">Resources</a>
            
            <a href="/user/registration/">Newsletters</a>
            

            <a href="/cloud-storage-providers/?source=sfnet_header">Cloud Storage Providers</a>
            <a href="/business-voip/?source=sfnet_header">Business VoIP Providers</a>

        </nav>
    </div>
</header> -->


<body>
<div id="page-header"></div>
<div id="page-body">
<!-- <div id="bookends_container"> -->
