{{template "header.html" .}}
<div class="container projects">
    <div class="row">
      {{ range $k,$v := .problems}}
            <div class="col-sm-8 col-md-4 col-lg-2">
            <div class="thumbnail">
              <a href="/problem/{{$k}}">{{.Title}}
              <img class="img-rounded lazy" src="http://7xku3c.com1.z0.glb.clouddn.com/bgi.jpg" width="250px" height="5px" alt="Headroom.js">
              </a>
              	<hr>
                <label onclick="#">{{.Title}}</label>
            </div>
          </div>
      {{end}}
	</div>
<div>
{{template "footer.html" .}}