{{template "header.html" .}}
<div class="container projects">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>题号</th>
      <th>标题</th>
      <th>作者</th>
      <th>描述</th>
    </tr>
    </thead>
  <tbody>
  {{ range .puzzles}}
    <tr>
      <td><a href="/oj/{{.Id}}">{{.Id}}</a></td>
      <td><a href="/oj/{{.Id}}">{{.Title}}</a></td>
      <td>
      {{if .User}}
        {{.User.Name}}
      {{end}}
      </td>
      <td>
      <!-- <textarea style="color: #aa88bb;background-color:#FFF;font-size:14px" class=".hecker" rows="6" cols="50" readonly="true">{{.Descr}}</textarea> -->
      {{.Descr}}
      </td>
    </tr>
  {{end}}        
  </tbody>
<div>
{{template "footer.html" .}}