{{template "header.html" .}}
<style type="text/css">
	.hecker{
		color: #00FF00;
		background-color:#000;
		font-size:14px;
	}
	.left{  
		 height: 200px;  
		 vertical-align: top;  
		 position: absolute;  
		 right: 210px;  
		 left: 70px;  
		 width: 60%;  
	}
	.right{  
	    width: 40%;   
	    margin-right: 2px;  
	    right: 40px;
	    vertical-align: top;  
	    float: right;
	    background-color:#eee;padding:10px 5px 5px 5px;position:relative 
	}
	
</style>
</div>
<title>{{.puzzle.Title}}</title>
<div>
	<div class="left">			
		<div class="content">
			<form id="puzzle-form" action="/oj/{{.puzzle.Id}}" method="post">
				<input type="hidden" name="fid" value="{{.puzzle.Id}}">
				<input type="hidden" name="fname" value="{{.puzzle.FuncName}}">
				<input type="hidden" name="rid" value="{{.rid}}">
				<textarea id="puzzle-content" name="puzzle" style="color: #bcd;background-color:#233;font-size:14px" cols="80" rows="24">{{.puzzle.Content}}</textarea>
			</form>
		</div>
	</div>
	<div class="right">
		<span id="markdownContent"></span>
		<button id="submit-btn" style="color:#72AEF2;padding:10px 8px;">提交</button><br>
		<textarea id="puzzle-result" style="display: none;" cols="70" rows="8" class="hecker form-control" readonly="true"></textarea> 
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function (argument) {
		function CallbackFunc (data){
		}
		$.ajax({  
	        type : "get",  
	        url : "http://markdown.daoapp.io/markdownCB?callback=?",
	        dataType:"jsonp",
        	jsonpCallback:"CallbackFunc",
        	data:{"rawContent":{{.puzzle.Descr}}},
	        success : function(data){
	            $("#markdownContent").html(data);
	        	// console.log(data.mddata);
	        },  
	        error:function(){  
	            // alert('fail');  
	        }
	    });
		$("#submit-btn").click(function (argument) {
			$("#puzzle-result").text("");
			// body...
			$.ajax({
				 url: '/oj/{{.puzzle.Id}}',
				 type: 'POST',
				 data:{"fid":"{{.puzzle.Id}}","fname":"{{.puzzle.FuncName}}","rid":"{{.rid}}","puzzle":$("#puzzle-content").val()},
				 success: function(result) {
				  	$("#puzzle-result").text(result);
				  	// $("#submit-btn").css("display","none");
				  	console.log(result);
				 }
			});
			$("#puzzle-result").css("display","inline");
		});
	});
</script>
{{template "footer.html" .}}