{{template "header.html" .}}
<style type="text/css">
  .hecker{
    color: #00FF00;
    background-color:#000;
    font-size:14px;
  }
</style>
<title>{{.puzzle.Title}}</title>
<div class="container" style="background-color:#eee;padding:10px 5px 5px 5px">
	<div class="col-md-7">			
		<div class="content">
			<form id="puzzle-form" action="/oj/{{.puzzle.Id}}" method="post">
				<input type="hidden" name="fid" value="{{.puzzle.Id}}">
				<input type="hidden" name="fname" value="{{.puzzle.FuncName}}">
				<input type="hidden" name="rid" value="{{.rid}}">
				<textarea id="puzzle-content" name="puzzle" style="color: #bcd;background-color:#233;font-size:14px" cols="80" rows="24">{{.puzzle.Content}}</textarea>
			</form>
		</div>
	</div>
	<div class="col-md-5">
		<label id="submit-btn" style="background-color:#72AEF2;padding:10px 8px;">commit</label><br>
		<textarea id="puzzle-result" style="color: #00FF00;background-color:#333233;font-size:14px;display: none;" cols="100" rows="8" class="hecker form-control" readonly="true"></textarea> 
		<!-- <span id="rawContent">{{.puzzle.Descr}}</span> -->
		<span id="markdownContent"></span>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function (argument) {
		function CallbackFunc (data){
		}
		$.ajax({  
	        type : "get",  
	        url : "http://markdown.daoapp.io/markdownCB?callback=?",
	        dataType:"jsonp",
        	jsonpCallback:"CallbackFunc",
        	data:{"rawContent":{{.puzzle.Descr}}},
	        success : function(data){
	            $("#markdownContent").html(data.mddata);
	        	console.log(data.mddata);
	        },  
	        error:function(){  
	            // alert('fail');  
	        }
	    });
		$("#submit-btn").click(function (argument) {
			$("#puzzle-result").text("");
			// body...
			$.ajax({
				 url: '/oj/{{.puzzle.Id}}',
				 type: 'POST',
				 data:{"fid":"{{.puzzle.Id}}","fname":"{{.puzzle.FuncName}}","rid":"{{.rid}}","puzzle":$("#puzzle-content").val()},
				 success: function(result) {
				  	$("#puzzle-result").text(result);
				  	// $("#submit-btn").css("display","none");
				  	console.log(result);
				 }
			});
			$("#puzzle-result").css("display","inline");
		});
	});
</script>
{{template "footer.html" .}}