{{template "header.html" .}}
<div class="container">
	<div class="col-md-8">			
		<div class="content">
				<form action="/oj/{{.problem.Id}}" method="post">
					<input type="hidden" name="fid" value="{{.problem.Id}}">
					<input type="hidden" name="fname" value="{{.FuncName}}">
					<input type="hidden" name="rid" value="rid777">
					<textarea id="javaTpl" name="problem" cols="80" rows="15">{{.problem.Content}}</textarea><br>
					<input type="submit">
				</form>
		</div>
	</div>
	<div class="col-md-4 sidebar">
		<textarea id="problemDesc" class="form-control" style="display:none;color:#656565;background-color:#e8edf2;" readonly="true" name="problem" rows="13">{{.problem.Desc}}</textarea>
		<span id="markdownContent"></span>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			$.ajax({
				 url: 'http://182.254.132.59/markdown/',
				 type: 'POST',
				 data:{"rawContent":$("#problemDesc").val()},
				 success: function(result) {
				  	$("#markdownContent").html(result);
				 }
			});
		});
	</script>
</div>
{{template "footer.html" .}}