{{template "header.html" .}}
<div class="container">
	<div>
		<textarea class="form-control" style="color:#656565;background-color:#e8edf2;" readonly="true" name="problem" rows="13">{{.problem.Desc}}</textarea><br>
	</div>
	<div class="subject-content" id="codeEditor"></div>
		<form action="/oj/{{.problem.Id}}" method="post">
			<input type="hidden" name="fid" value="{{.problem.Id}}">
			<input type="hidden" name="fname" value="{{.FuncName}}">
			<input type="hidden" name="rid" value="rid777">
			<textarea id="javaTpl" name="problem" cols="80" rows="15">{{.problem.Content}}</textarea><br>
			<input type="submit">
		</form>
</div>
{{template "footer.html" .}}