{{template "header.html" .}}
<br>
<br>
<div class="container">
	<div>
		<p><font color="red">{{.problem.Desc}}</font></p>
	</div>
	<form action="/oj/{{.problem.Id}}" method="post">
		<input type="hidden" name="fid" value="{{.problem.Id}}">
		<input type="hidden" name="fname" value="{{.FuncName}}">
		<input type="hidden" name="rid" value="rid777">
		<textarea name="problem" cols="80" rows="15">{{.problem.Content}}</textarea><br>
		<input type="submit">
	</form>
	<!-- <iframe style="border:1px solid" src="https://wide.b3log.org/playground/059837807c7c7d723e3f4a7665b31ea3.go?embed=true" width="99%" height="400"></iframe> -->
</div>
{{template "footer.html" .}}