{{template "header.html" .}}
<div class="container">
	<h3>User Center</h3>
	<div>
		<hr>
		<h3>Published Problems</h3><br>
		{{range .problems}}
			<a href="/problem/{{.Id}}"><h3>#{{.Id}}#</h3><br></a>
			<h4>{{.Title}}</h4>
			<textarea id="problem-result" style="color: #00FF00;background-color:#000;font-size:14px" cols="100" rows="8" class=".hecker" readonly="true">{{.Desc}}</textarea>
			<hr>
		{{end}}
		<hr>
		<h3>Published Solutions</h3><br>
		{{range .solutions}}
			<a href="/problem/{{.Id}}"><h3>#{{.Id}}#</h3><br></a>
			<textarea id="problem-result" style="color: #00FF00;background-color:#000;font-size:14px" cols="100" rows="8" class=".hecker" readonly="true">{{.Content}}</textarea>
			
			<h5>{{.Create}}</h5>
			<hr>
		{{end}}
		<hr>
		<h3>Topic Remarks @{{.user.Name}}</h3><br>
		{{range .remarks}}
			
			<a href="/topic/{{.Topic.Id}}"><h3>#{{.Topic.Title}}#</h3></a>
			<h3>@{{.Topic.User.Name}}</h3><br>
			<h5>{{.Topic.Content}}</h5>
			<h4>[{{.Content}}]</h4>
			{{.Create}}
			<a href="/topic/{{.Topic.Id}}/delremark/{{.Id}}">delete</a>
			<hr>
		{{end}}
	</div>
</div>
{{template "footer.html" .}}