{{template "header.html" .}}
	<h3>User Center</h3>
	<div>
		<hr>
		<h3>Published Topics</h3><br>
		{{range .topics}}
			<a href="/topic/{{.Id}}"><h3>#{{.Title}}#</h3><br></a>
			<h5>{{.Content}}</h5>
			{{.Create}}
			<a href="/deltopic/{{.Id}}">delete</a>
			<hr>
		{{end}}
		<hr>
		<h3>Topic Remarks @{{.user.Name}}</h3><br>
		{{range .remarks}}
			
			<a href="/topic/{{.Topic.Id}}"><h3>#{{.Topic.Title}}#</h3></a>
			<h3>@{{.Topic.User.Name}}</h3><br>
			<h5>{{.Topic.Content}}</h5>
			<h4>[{{.Content}}]</h4>
			{{.Create}}
			<a href="/topic/{{.Topic.Id}}/delremark/{{.Id}}">delete</a>
			<hr>
		{{end}}
	</div>
{{template "footer.html" .}}