{{template "header.html" .}}
<div class="container">
	<h3>Published Puzzles</h3><br>
		{{range .puzzles}}
		<div class="row">
			<div class="col-md-1">
				<a href="/puzzle/{{.Id}}"><h3>#{{.Id}}#</h3><br></a>
			</div>
			<div class="col-md-2">
				<h4>{{.Title}}</h4>
			</div>
			<div class="col-md-7">
				<textarea id="puzzle-descr" style="color: #F0bd00;background-color:#332;font-size:14px" cols="100" rows="8" class="hecker form-control" readonly="true">{{.Descr}}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			
		</div>
			<hr>
		{{end}}
</div>
{{template "footer.html" .}}