{{template "header.html" .}}
<div class="container">
	<h3>Solutions</h3>
		<hr>
		{{range .solutions}}
			<div class="row">
				
			<div class="col-md-1">
				<h4>{{.Id}} @</h4><a href="/oj/{{.Puzzle.Id}}"><h3>{{.Puzzle.Id}}</h3><br></a>
			</div>

			<div class="col-md-6">
				<textarea id="Puzzle-result" style="color: #bcd;background-color:#233;font-size:14px" cols="100" rows="8" class="form-control" readonly="true">{{.Content}}</textarea>
			</div>
			<div class="col-md-5">
				<textarea id="Puzzle-result" style="color: #00FF00;background-color:#333233;font-size:14px" cols="100" rows="8" class="hecker form-control" readonly="true">{{.Result}}</textarea>
			</div>
			</div>			
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<h5>{{.Create}}</h5>
				</div>
			</div>
			<hr>
		{{end}}
</div>
{{template "footer.html" .}}